<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>MFG_ERP</display-name>
  
  <welcome-file-list>
    <welcome-file>Welcome.jsp</welcome-file>
  </welcome-file-list>
    
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>dispatcher-servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>    
        
	<context-param>
	    <param-name>contextClass</param-name>
	    <param-value>
	    	org.springframework.web.context.support.AnnotationConfigWebApplicationContext
	    </param-value>
	</context-param> 
	        	
    <servlet-mapping>
        <servlet-name>dispatcher-servlet</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    
    <session-config>
    
        <session-timeout>
            30
        </session-timeout>
        
        <tracking-mode>COOKIE</tracking-mode>
                
    </session-config>
    
</web-app>